<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aeropuerto</title>
  <base href="/">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="aerolinea.component.css">
</head>
<body>
    <section class="form-register">
      <h1>Aeropuertos Internacionales</h1>
      <input class="controls" type="text" class="form-control" placeholder="IataCode" #iataCodeInput/>
      <input class="controls" type="text" class="form-control" placeholder="Ingrese Ciudad" #ciudadInput/>
      <input class="controls" type="text" class="form-control" placeholder="Ingrese País" #paisInput/>
      <p>Estoy de acuerdo con <a href="#"> Terminos y condiciones de AirportSkyline</a> </p>
      <input class="botons" type="submit" value="Aceptar Datos" #datoInput/>
      <p><a href="#">Regresar pagina anterior</a> </p>
    </section>

  <app-root></app-root>

</body>
</html>
