<div class="main-header" id="inicio">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" >

  <div class="cancela">

      <div class="form-group">

        <h1>Cancelacion</h1>
        <div class="container">

        <div class="input-container">
          <i class="fab fa-avianex icon"></i>
        <input type ="number" placeholder="ID Avion">
        </div>

        <div class="input-container">
          <i class="fas fa-ticket-alt icon"></i>
        <input type ="number" placeholder="ID Boleto">
        </div>

        <div class="input-container">
          <i class="fas fa-map-marked-alt icon"></i>
        <input type ="number" placeholder="Ruta">
        </div>

        <div class="input-container">
          <i class="fas fa-envelope icon"></i>
        <input type ="text" placeholder="Motivo">
      </div>

      <input type="submit" value="Cancelar" class="button">
        </div>
      </div>










