
<body>
  <form class="formulario">

     <h1>Vuelos</h1>
      <div class="contenedor">

      <div class="input-contenedor">
          <i class="fas fa-user icon"></i>
          <input type="number" placeholder="id Vuelo">

          </div>

          <div class="input-contenedor">
          <i class="fas fa-envelope icon"></i>
          <input type="number" placeholder="id Ruta">

          </div>

          <div class="input-contenedor">
         <i class="fas fa-key icon"></i>
          <input type="number" placeholder="id avion">

        </div>

        <div class="input-contenedor">
          <i class="fas fa-key icon"></i>
           <input type="date" placeholder="Fecha hora de salida">

         </div>

         <div class="input-contenedor">
          <i class="fas fa-key icon"></i>
           <input type="number" placeholder="id Estado">

         </div>

          <input type="submit" value="Registrar vuelo" class="button">

      </div>
     </form>
 </body>





