<h1>Vista</h1>

<div class="container">

  <div class="container">
    <form>
      <div class="form-group">
        <label>id Vuelo</label>
        <input type="number" class="form-control" placeholder="">

        <label>id Ruta</label>
        <input type="number" class="form-control" placeholder="">

        <label>id avion</label>
        <input type="number" class="form-control" placeholder="">

        <label>Fecha hora de salida</label>
        <input type="number" class="form-control" placeholder="">

        <label>id Estado</label>
        <input type="number" class="form-control" placeholder="">

      </div>

