<div class="container">
  <p>Editar</p>
  <div class="row">
    <div class="col-sm-6">
      <form>
        <div class="mb3">
          <label class="form-label">Nombres</label>
          <input [(ngModel)]="Boleto.nombres" type="text" class="form-control" name="nombre">
        </div>

        <div class="mb3">
          <label class="form-label">Apellidos</label>
          <input [(ngModel)]="Boleto.apellidos" type="text" class="form-control" name="apellidos">
        </div>

        <div class="mb3">
          <label class="form-label">Tipo de Documento</label>
          <input [(ngModel)]="Boleto.tipo_doc" type="text" class="form-control" name="tipo_doc">
        </div>

        <div class="mb3">
          <label class="form-label">Numero de Documento</label>
          <input [(ngModel)]="Boleto.numero_doc" type="text" class="form-control" name="numero_doc">
        </div>
        <br>

        <div class="mb10">
          <button (click)="modificar()" type="button" class="btn btn-danger">Guardar</button>
        </div>

      </form>
    </div>
    <div class="col-sm-6">
      <form>
        <div class="mb3">
          <label class="form-label">{{Boleto.nombres}}</label>
        </div>

        <div class="mb3">
          <label class="form-label">{{Boleto.apellidos}}</label>
        </div>

        <div class="mb3">
          <label class="form-label">{{Boleto.tipo_doc}}</label>
        </div>

        <div class="mb3">
          <label class="form-label">{{Boleto.numero_doc}}</label>
        </div>

      </form>
    </div>

  </div>

</div>
