<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Avion</title>
  <base href="/">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="avion.component.css">
 </head>
<body>
    <section class="form-register">
      <h1>Linea de Aviones</h1>
      <input class="controls" type="text" class="form-control" placeholder="Id aerolinea" #iataCodeInput/>
      <input class="controls" type="text" class="form-control" placeholder="Estado" #ciudadInput/>
      <input class="controls" type="text" class="form-control" placeholder="Modelo" #paisInput/>
      <input class="controls" type="text" class="form-control" placeholder="Aerolinea" #paisInput/>


      <input class="botons" type="submit" value="Guardar" #paisInput/>
      <p><a href="#">Regresar pagina anterior</a> </p>
    </section>

  <app-root></app-root>

</body>
</html>
