<body>
  <form class="formulario">

     <h1>Ruta</h1>
      <div class="contenedor">

      <div class="input-contenedor">
          <i class="fas fa-user icon"></i>
          <input type="text" placeholder="precio base">

          </div>

          <div class="input-contenedor">
          <i class="fas fa-envelope icon"></i>
          <input type="text" placeholder="distancia del viaje">

          </div>

          <div class="input-contenedor">
         <i class="fas fa-key icon"></i>
          <input type="number" placeholder="tiempo de viaje">

        </div>

        <div class="input-contenedor">
          <i class="fas fa-key icon"></i>
           <input type="date" placeholder="fecha de creacion">

         </div>
          <input type="submit" value="Registrar ruta" class="button">

      </div>
     </form>
 </body>
